body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000000;
	background-color: powderblue;
	background-image: url("../images/WCCC_logo.png");
	background-repeat: no-repeat;
	background-size: 150px;
	background-position: 10px 10px;
	
}
.transform {
	animation-duration: 0.1s;
	animation-name: flash-on-save;
}
@keyframes flash-on-save {
	from {background-color: black;}
	to {background-color: powderblue;}

}
#chart-table {
	margin: 150px 10px 50px 0px;
	width: 720px;
	font-size: 20px;
}
.chart-header {
	width: 720px;
	padding: 5px;
	background-color: #ffffff;
	border: 2px solid black;
	box-shadow: 5px 5px 10px #808080;
}
.chart-header-title {
	display: inline-block;
	width: 350px;
	margin-left: 30px;
}
.chart-header-item {
	display: inline-block;
	width: 100px;
	margin: 0 5px 0 5px;
	text-align: center;
}
.chart-item {
	width: 720px;
	padding: 5px;
	background-color: #ffffff;
	border-left: 2px solid black;
	border-right: 2px solid black;
	cursor: ns-resize;
	box-shadow: 5px 5px 10px #808080;
}
.chart-item:last-child {
	border-bottom: 2px solid black;
}
.chart-item:nth-child(odd) {
	background-color: #ddddff;
}
.chart-item:hover {
	background-color: #bbddbb;
}
.title {
	display: inline-block;
	width: 350px;
	margin-left: 5px;
}
.btn-vis {
	display: inline-block;
	width: 100px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	text-align: center;
	color: #ffffff;
	box-shadow: 5px 5px 10px #808080;
}
.btn-vis:hover, .btn-edit:hover, .btn-delete:hover {
	color: #ff0000;
	cursor: pointer;
}
.vis-show {
	background-color: #08b608;
}
.vis-hide {
	background-color: #444444;
	color: #cccccc;
}
.btn-edit {
	display: inline-block;
	width: 100px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	text-align: center;
	background-color: #163d98;
	color: #ffffff;
	box-shadow: 5px 5px 10px #808080;
}
.btn-delete {
	display: inline-block;
	width: 100px;
	margin: 0 5px 0 5px;
	border-radius: 10px;
	text-align: center;
	background-color: #e36c0a;
	color: #ffffff;
	box-shadow: 5px 5px 10px #808080;
}
#btn-new, #btn-save {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	display: inline-block;
	width: 160px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #08b608;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 10px 10px 20px #808080;
}
#btn-new {
	margin: 10px 0 0 25px;
}
#btn-save {
	margin: 10px 0 0 325px;
	z-index: 2;
}
#about {
	position: absolute;
	top: 20px;
	left: 780px;
	width: 500px;
	list-style-type: none;
}
#about dt {
	font-weight: bold;
}
#about dd {
	margin-bottom: 10px;
}


#changeArrow {
	visibility: hidden;
	position: relative;
	display: inline-block;
	left: 325px;
	top: -50px;
}
#changeArrowA {
	position: relative;
	left: 165px;
	width: 0px;
	height: 0px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #ff0000;
}
#changeArrowB {
	font-family: 'Lato', sans-serif;
	position: relative;
	left: 0px;
	top: -45px;
	padding-left: 5px;
	width: 170px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #ffffff;
	background-color: #ff0000;
}