body {
	background-color: powderblue;
	background-image: url("../images/WCCC_logo.png");
	background-repeat: no-repeat;
	background-size: 150px;
	background-position: 5px 10px;
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000000;
}

.blink {
	animation-duration: 0.1s;
	animation-name: flash-on-save;
}
@keyframes flash-on-save {
	from {background-color: black;}
	to {background-color: powderblue;}
}

input, textarea {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #000000;
}

/*  BOX SHADOWS  */
textarea, input, .boxCorner, .phoneDot, .phoneCheck, .phoneInput, #save, #saveAs, #admin, #reload, #about {
	box-shadow: 5px 5px 20px #606060;
}


/*  FLOWCHART TITLES & DESCRIPTION BOXES  */
#chartInfo {
	position: absolute;
	top: 50px;
	left: 170px;
}
#adminChartTitle, #chartTitle, #chartDescription {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 140px;
	font-size: 18px;
	font-weight: bold;	
}
#adminChartTitle {
	top: 5px;
}

#chartDescription {
	top: 55px;
}
#adminTitle {
	position: absolute;
	top: 0;
	left: 135px;
	padding: 3px 0px;
	border: 3px solid #08b608;
	border-radius: 10px;
	width: 270px;
}
#title {
	position: absolute;
	top: 50px;
	left: 135px;
	padding: 3px 0px;
	border: 3px solid #08b608;
	border-radius: 10px;
	width: 270px;
}
#description {
	position: absolute;
	top: 50px;
	left: 135px;
	box-sizing: border-box;
	width: 276px;
	height: 80px;
	resize: none;
	overflow: auto;
	border-radius: 10px;
	border: 3px solid #08b608;
}

.box {
	position: absolute;
	z-index: 2;
}
.boxCorner {
	position: absolute;
	background-color: #ffffff;
	color: #606060;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 15px;
	border: 3px solid #08b608;
	top: 70px;
	left: 100px;
}

.phone {
	position: absolute;
	top: 70px;
	left: 0px;
}
.phoneDot {
	display: block;
	position: absolute;
	background-color: #ffffff;
	color: #606060;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 15px;
	border: 3px solid #08b608;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
.phoneInput {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 3px 0px;
	border: 3px solid #08b608;
	border-radius: 15px;
	width: 125px;
}
.phoneCheck {
	position: absolute;
	background-color: #ffffff;
	color: #606060;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 15px;
	border: 3px solid #6c0ae3;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.add, .minus {
	cursor: pointer;
}
.tArea {
	box-sizing: border-box;
	width: 230px;
	height: 80px;
	resize: none;
	display: block;
	overflow: auto;
	border-radius: 10px;
	border: 3px solid #163d98;
	margin-bottom: 10px;
}
.lArea, .rArea {
	box-sizing: border-box;
	width: 110px;
	height: 60px;
	resize: none;
	border-radius: 10px;
	border: 3px solid #e36c0a;
	
}
.lArea {
	margin-right: 10px;
}

/*  LINES BETWEEN BOXES  */
.line {
	position: absolute;
	height: 2px;
	z-index: 1;
  background-color: #606060;
}

/*  NAVIGATION BUTTONS  */

#buttons {
	position: sticky;
	top: 0px;
}

#save, #saveAs, #reload, #admin, #about {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	width: 130px;
	padding: 10px 0;
	background-color: #08b608;
	border-radius: 10px;
	color: #ffffff;
	position: fixed;
	z-index: 3;
	left: 5px;
}
#save {
	top: 155px;
}
#saveAs {
	top: 215px;
}
#reload {
	top: 275px;
}
#admin {
	top: 335px;
}
#about {
	top: 395px;
}

#save:hover, #saveAs:hover, #reload:hover, #admin:hover, #about:hover {
	background-color: #069106;
	cursor: pointer;
}

/*  TOOLTIPS  */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 130px;
	background-color: #163d98;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 0%;
	left: 105%;
	z-index: 5;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 25%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #163d98 transparent transparent;
}

#changeArrow {
	visibility: hidden;
	position: fixed;
	left: 140px;
	top: 150px;
	width: 190px;
	height: 60px;
	z-index: 3;
}
#changeArrowA {
	position: absolute;
	left: -30px;
	border-width: 30px;
	border-style: solid;
	border-color: transparent #ff0000 transparent transparent;
}
#changeArrowB {
	font-family: 'Lato', sans-serif;
	position: absolute;
	left: 20px;
	top: 15px;
	width: 170px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #ffffff;
	background-color: #ff0000;
}


.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.modal-content {
	background-color: #ccdd00;
	margin: 15% auto;
	padding: 20px;
	text-align: center;
	border: 5px solid #a0a0a0;
	width: 500px;
}
