body {
	background-color: powderblue;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000000;
}
.italic {
	font-style: italic;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 30px;
}
.box {
	margin-left: 10px;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 10px;
	width: 140px;
	height: 24px;
	vertical-align: -10px;
}
.green {
	border: 3px solid #08b608;
}
.blue {
	border: 3px solid #163d98;
}
.orange {
	border: 3px solid #e36c0a;
}
.dot {
	display: inline-block;
	background-color: #ffffff;
	color: #606060;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 15px;
	cursor: pointer;
}
#add, #remove, #phone {
	border: 3px solid #08b608;
}
#check {
	border: 3px solid #6c0ae3;
}


.btn {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	width: 130px;
	padding: 10px 0;
	background-color: #08b608;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
}