body {
	background-color: powderblue;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000000;
}

input, textarea {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #000000;
}

textarea, input, .boxCorner, #save, #admin {
	box-shadow: 5px 5px 20px #606060;
}



#chartInfo {
	position: absolute;
	top: 50px;
	left: 170px;
}


#chartTitle {
	position: absolute;
	top: 5px;
	left: 0;
	display: inline-block;
	width: 140px;
	font-size: 18px;
}
#chartDescription {
	position: absolute;
	top: 50px;
	left:0;
	display: inline-block;
	width: 140px;
	font-size: 18px;
}

#title {
	position: absolute;
	top: 0;
	left: 135px;
	padding: 3px 0px;
	border: 3px solid #08b608;
	border-radius: 10px;
	width: 270px;
}
#description {
	position: absolute;
	top: 50px;
	left: 135px;
	box-sizing: border-box;
	width: 276px;
	height: 80px;
	resize: none;
	overflow: auto;
	border-radius: 10px;
	border: 3px solid #08b608;
}



.box {
	position: absolute;
	z-index: 2;
}
.boxCorner {
	position: absolute;
	background-color: #ffffff;
	color: #606060;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 15px;
	border: 3px solid #08b608;
	top: 70px;
	left: 90px;
}
.tArea {
	box-sizing: border-box;
	width: 210px;
	height: 80px;
	resize: none;
	display: block;
	overflow: auto;
	border-radius: 10px;
	border: 3px solid #163d98;
	margin-bottom: 10px;
}
.lArea, .rArea {
	box-sizing: border-box;
	width: 100px;
	height: 60px;
	resize: none;
	border-radius: 10px;
	border: 3px solid #e36c0a;
	
}
.lArea {
	margin-right: 10px;
}
.line {
	position: absolute;
	height: 2px;
	z-index: 1;
  background-color: #606060;
}
#save, #reload, #admin {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	background-color: #08B608;
	border-radius: 10px;
	color: #ffffff;
	position: fixed;
	z-index: 10;
}
#save {
	top: 0;
	left: 0;
}
#save:after {
	font-size: 20px;
	content: " \1f4be";
}
#reload {
	top: 60px;
	left: 0;
}
#reload:after {
	font-size: 20px;
	content: " \27f3";
}
#admin {
	top: 120px;
	left: 0;
}
#admin:after {
	font-size: 20px;
	content: " \1f3e0";
}

#save:hover, #reload:hover, #admin:hover {
	background-color: #069106;
	cursor: pointer;
}

.add, .minus {
	cursor: pointer;
}