 {
	 	vertical-align: text-top;
	}
	#chartTitle {
			margin: auto;
				width: 300px;
			}
			.box {
					width: 200px;
						background-color: #4285f4;
							display: inline-block;
								position: absolute;
									z-index: 2;
								}
								.boxTop {
										display: inline-block;
											background-color: #4285f4;
												width: 90%;
											}
											.add {
													display: inline-block;
														background-color: #00c851;
															width: 10%;
																text-align: center;
																	vertical-align: text-top;
																}
																.tArea {
																		box-sizing: border-box;
																			width: 100%;
																				height: 75px;
																					resize: none;
																						display: block;
																							overflow: auto;
																						}
																						.lArea {
																								box-sizing: border-box;
																									width: 50%;
																										height: 60px;
																											resize: none;
																										}
																										.rArea {
																												box-sizing: border-box;
																													width: 50%;
																														height: 60px;
																															resize: none;
																														}
																														.line {
																																position: absolute;
																																	background-color: #9e9e9e;
																																		height: 3px;
																																			z-index: 1;
																																		}
																																		#save {
																																				text-align: center;
																																					vertical-align: middle;
																																						width: 80px;
																																							height: 50px;
																																								line-height: 50px;
																																									background-color: #aaff88;
																																										position: fixed;
																																											top: 0;
																																												right: 0;
																																											}
